<nav class="header-fixed">
  <div class="super-header">
    <div class="header">
      <div class="header-logo">
       <%=  link_to image_tag("contact-logo.png"), action: 'index', controller: 'contacts' %>
        <p class="header-baseline">Connecting people</p>
      </div>
      <%= link_to "Ajouter un contact", contacts_new_path , :class => "header-new-contact btn btn-danger btn-m" %>
    </div>
  </div>
</nav>