<nav class="header-fixed">
  <div class="super-header">
    <div class="header">
      <div class="header-logo">
        <a href="#">
          <img src="contact-logo.png" />
        </a>
        <p class="header-baseline">Connecting people</p>
      </div>
      <a href="#" class="header-new-contact btn btn-danger btn-m">
        ajouter un contact
      </a>
    </div>
  </div>
</nav>