<%= stylesheet_link_tag "edit" %>

<div class="container-contact">
  <h3 style="margin-bottom: 25px; text-align: center;">Editer le contact :</h3>
  <%=  form_for @contact, :as => :contact, :url => '/contacts/'+params[:id]  do |f| %>
    <%= render "components/contact_form",f: f%>
  <% end %>
</div>