<%= stylesheet_link_tag "index" %>

<div class="container-contact">
  <h1> My contacts </h1>

  <table class = "table table-bordered">
    <caption>Clicker sur le contact pour afficher plus de details</caption>

    <thead>
    <tr>
      <th class="text-center">photo</th>
      <th class="text-center">nom</th>
      <th class="text-center">prenom</th>
      <th class="text-center">phone</th>
      <th class="text-center">Action</th>
      <th class="text-center"> Flag </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center"><img src="user-default.png"/></td>
      <td>anis</td>
      <td>zane</td>
      <td>5600010293</td>
      <td class="text-center"><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a> <a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
      <td class="text-center"><img src="black-star.png"/></td>
    </tr>

    <tr>
      <td class="text-center"><img src="user-default.png"/></td>
      <td>julian</td>
      <td>lecalvez</td>
      <td>40000333</td>
      <td class="text-center"><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a> <a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
      <td class="text-center"><img src="black-star.png"/></td>
    </tr>

    <tr>
      <td class="text-center"><img src="user-default.png"/></td>
      <td>hugo</td>
      <td>sbordon</td>
      <td>4110273</td>
      <td class="text-center"><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a> <a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
      <td class="text-center"><img src="yellow-star.png"/></td>
    </tr>

    </tbody>

  </table>
</div>
