<%= stylesheet_link_tag "form" %>

<div class="container-contact">
  <h3 class="form-title">Nouveau contact :</h3>
  <%=  form_for @contact, :as => :contact, :url => contacts_path(@new_contact)  do |f| %>
    <%= render "components/contact_form", f: f%>
  <% end %>
</div>